<ion-content [fullscreen]="true">

  <ion-grid>
    <form [formGroup]="form">
      <ion-row text-center>
        <ion-col size="6"  offset="3" >
          <ion-avatar>
          <ion-img
            [src]="logo"
            class="custom logo">
          </ion-img>
        </ion-avatar>
          <ion-icon slot="end" [name]="hide ? 'eye-off' : 'eye'" (click)="hide = !hide"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"  offset="3">
          <ion-row>
          <ion-input
            placeholder="Email"
            formControlName="email"
            fill="outline"
            shape="round"
            class="custom"></ion-input>
          </ion-row>
        <ion-row color="danger" *ngIf="invalidField('email')">
          <ion-text >
            Email is required
          </ion-text>
        </ion-row>
        </ion-col>

        <ion-col size="6"  offset="3">
          <ion-input
          placeholder="Confirm Email"
          formControlName="emailConfirmation"
          fill="outline"
          shape="round"
          class="custom"></ion-input>
          <ion-row color="danger" *ngIf="invalidField('emailConfirmation')">
            <ion-text >
              Email is required
            </ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="6"  offset="3">
          <ion-input
          [type]="hide ? 'password' : 'text'"
          placeholder="Password"
          formControlName="password"
          fill="outline"
          shape="round"
          class="custom">
          <ion-icon
          slot="end" [name]="hide ? 'eye-off' : 'eye'" (click)="hide = !hide">
        </ion-icon></ion-input>
          <ion-row color="danger" *ngIf="invalidField('password')">
            <ion-text >
              Email is required
            </ion-text>
          </ion-row>
        </ion-col>
        <ion-col size="6"  offset="3">
          <ion-input
          [type]="hideConfirm ? 'password' : 'text'"
          placeholder="Confirm Password"
          formControlName="passwordConfirmation"
          fill="outline"
          shape="round"
          class="custom">
          <ion-icon
          slot="end" [name]="hideConfirm ? 'eye-off' : 'eye'" (click)="hideConfirm = !hideConfirm">
        </ion-icon></ion-input>
          <ion-row color="danger" *ngIf="invalidField('passwordConfirmation')">
            <ion-text >
              Email confirmation is required and must match.
            </ion-text>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" offset="3">
          <ion-button color="light" routerLink="">Cancel</ion-button>
        </ion-col>
        <ion-col size="3" >
          <ion-button primary
          class="singup-button"
          [disabled]="form.invalid"
          (click)="createAccount()">Create an account</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>
