<ion-card class="movie-card" color="light"  >
  <ion-card-content *ngIf="!showEdit" (mouseenter)="showEdit = !showEdit">
    <ion-grid>
      
        <ion-row>
          <h2 style="font-weight: bold;">{{movie.name}}</h2>
        </ion-row>
        <ion-row>
          <ion-col size="12" >
            <ion-img
              [src]="movie.image"
              class="custom"
              style="height: 200px;"
          > </ion-img>
  
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col [size]="12">    
            <p style="font-size: 11px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{movie.description}}</p>    
          </ion-col>
        </ion-row>      
          <ion-row>
            <ion-col [size]="12">
              <h3>Rate:</h3>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col [size]="12">
              <app-rate-movie [rate]="movie.rate"></app-rate-movie>
            </ion-col>
          </ion-row>
      
    </ion-grid>


  </ion-card-content>
  <ion-card-content *ngIf="showEdit" (mouseleave)="showEdit = !showEdit">
    <ion-row  >
      <ion-col size="12" >
        <ion-card class="edit">
          <ion-card-content>
            <ion-grid>
                <ion-row>
                  <h2 style="font-weight: bold;">{{movie.name}}</h2>
                </ion-row>
                <ion-row>
                  <a [routerLink]="['/edit', movie]">Edit</a>
                </ion-row>
                <ion-row>
                  <ion-col size="12" >
                    <ion-img
                      [src]="movie.image"
                      class="custom"
                      style="height: 200px;"
                  > </ion-img>
          
                  </ion-col>
                </ion-row>

              </ion-grid>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
