<ion-content>
  <ion-grid size="6" >
    <ion-row>
      <ion-col >
        <ion-img
            [src]="movie.image"
            class="custom"
        > </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <h2>{{movie.name}}</h2>
    </ion-row>
    <div *ngIf="!edit">
      <ion-row>
        <p>{{movie.description}}</p>
      </ion-row>
      <ion-row>
        <h3>Rate:</h3>
      </ion-row>
      <ion-row>
        <app-rate-movie [rate]="movie.rate"></app-rate-movie>
      </ion-row>
    </div>

    <div *ngIf="edit" >
      <ion-row>
        <ion-textarea [(ngModel)]="movie.description" ngDefaultControl value="movie.description"></ion-textarea>
      </ion-row>
      <ion-row>
        <h3>Rate:</h3>
      </ion-row>
      <ion-row>
        <app-rate-movie [rate]="movie.rate"></app-rate-movie>
      </ion-row>
    </div>


    <ion-row>
      <ion-col>
        <ion-button routerLink="/home">Back</ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="!edit" (click)="edit = ! edit">Edit</ion-button>
        <ion-button *ngIf="edit" (click)="editMovie()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
