<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col size="4" offset="3" >
        <ion-img
            [src]="movie.image"
            class="custom"
        > </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="3" >
        <h2>{{movie.name}}</h2>
      </ion-col>
    </ion-row>
    <div *ngIf="!edit">
      <ion-row>
        <ion-col size="4" offset="3" >
          <p>{{movie.description}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" offset="3" >
          <h3>Rate:</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" offset="3" >
          <app-rate-movie [rate]="movie.rate" [editRate]="edit"></app-rate-movie>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="edit" >
      <ion-row>
        <ion-col size="4" offset="3" >
          <ion-textarea [(ngModel)]="movie.description" ngDefaultControl value="movie.description"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" offset="3" >
          <h3>Rate:</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" offset="3" >
          <app-rate-movie [rate]="movie.rate" (changeRate)="updateRate($event)" [editRate]="edit"></app-rate-movie>
        </ion-col>
      </ion-row>
    </div>


    <ion-row>
      <ion-col size="3" offset="3" >
        <ion-button color="light" routerLink="/home">Back</ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="!edit" (click)="edit = ! edit">Edit</ion-button>
        <ion-button *ngIf="edit" (click)="edit = ! edit">Cancel</ion-button>
        <ion-button *ngIf="edit" (click)="editMovie()">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
